.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.Usercontent1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Added for absolute positioning */
}

.Usercontent1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../Assets/b.jpg') center center/cover; /* Replace 'your-image-url.jpg' with the image path */
    filter: blur(5px); /* Blurred background effect */
    z-index: -1; /* Behind the content */
}

.Usercontent1 h1 {
    color: white; /* Set text color to white */
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.container > * {
    margin: 10px;
}