.signup_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 400px;
  min-width: 350px;
  margin-top: 50px;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #fff; /* Set background color to white */
}

.signup_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(0px);
  opacity: 0.7;
  z-index: -1;
  border-radius: inherit;
  background-color: #ffffff;
}


.left-panel {
  flex: 2;
}

.left-panel img {
  width: 100%;
  height: auto;
}

.right-panel {
  flex: 4;
}

.signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 0px;
}

.signup-text {
  color: #3c009d;
  font-size: 32px;
  font-weight: 600;
}

.signup-underline {
  width: 51px;
  height: 5px;
  background: #3c009d;
  border-radius: 80px;
}

.signup-inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: 30px;
  background: #eaeaea;
  border-radius: 5px;
}

.signup-input img {
  margin: 0 12px;
}

.signup-input input {
  height: 28px;
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
}

.signup-submit-container {
  display: flex;
  gap: 15px;
  margin: 12px auto;
  justify-content: center;
}

.signup-submit {
  display: flex;
  width: 100%;
  max-width: 200px;
  min-width: 140px;
  height: 50px;
  background: #4c00b4;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.signup-error-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 14px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  margin: 0;
}
